.confirmed-container {
    background-color: rgb(255, 255, 255);
    margin-left: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom: 8px solid rgb(255, 153, 0);
}

.header-infected {
    text-align: left;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.confirmed {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-right: 110px;
}

.date {
    margin-top: 5px;
}

.confirmed-text-heading {
    margin-top: 10px;
}

.heading-1 {
    margin-top: 30px;
}

.div-2 {
    margin-top: -15px;
}